#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: black;

  & > div {
    background: black;
  }

  @media (max-width: 768px) {
    padding: 0;
  }
}

:root {
  --spectrum-global-color-blue-600: #211551; /* Custom Blue */
  --spectrum-global-color-red-600: #c8102e; /* Custom Red */
  --spectrum-global-color-yellow-600: #fbe122; /* Custom Yellow */
  --spectrum-global-color-teal-600: #40c1ac; /* Custom Teal */
  --spectrum-global-color-gray-100: #efdbb2; /* Custom Offwhite */
}

button {
  color: #efdbb2;
}
h1 {
  color: #fbe122;
}

h2 {
  color: #40c1ac;
}

body {
  background-color: black;
}
